<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    html {
      font-size: 10px;
    }

    body {
      margin: 20px;
    }

    p,
    em {
      white-space: pre-wrap;
      font-size: 2.0rem;
    }

    h1,
    h2 {
      margin-top: 40px;
      font-size: 3.2rem;
    }

    .wrapper {
      max-width: 1000px;
      margin: 0 auto;
    }

    .poem-author {
      margin-top: 4.0rem;
    }

    nav a {
      font-size: 2.4rem;
    }

    em {
      margin-top: -2.0rem;
      display: block;
    }
  </style>
</head>